html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    justify-content: center;
}
/*
Setting areas using grid-area property
Stupid for this layout, but fun
*/
.buttons{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas: 
    'clear percent delete divide'
    'seven eight nine multiplys'
    'four five six minus'
    'one two three plus'
    'empty-one  zero empty-two equals';
}
#double-zero{
    grid-area: empty-one;
}
#coma{
    grid-area: empty-two;
}
#plus{
    grid-area: plus;
}
#multiply{
    grid-area: multiplys;
}
#divide{
    grid-area: divide;
}
#minus{
    grid-area: minus;
}
#del{
    grid-area: delete;
}
#percent{
    grid-area: percent;
}
#clear{
    grid-area: clear;
}
#equals{
    grid-area: equals;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#zero{
    grid-area: zero;
}
/*
Added a border radius for a buttons
*/
.buttons>*{
    border-radius: 50%;
}
/*
Added wrapper to make an outline and center/change position for whole unit
*/
.wrapper{
    display: grid;
    width: 350px;
    height: 500px;
    outline: black 1px solid;
    background-color: rgb(240, 199, 150);
}