/*
Reset
*/
html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
}
/*
Added wrapper to make an outline and center/change position for whole unit */
.wrapper{
    padding: 1rem;
    margin: 15rem;
    display: grid;
    grid-template-rows:max-content;
    width: 350px;
    height: 450px;
    outline: black 1px solid;
    background-color: rgb(240, 199, 150);
    border-radius: 1rem;
    justify-content: center;
}
/*
Setting areas using grid-area property
Stupid for this layout, but fun
*/
.buttons{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    margin-block: 1rem;
    grid-template-areas: 
    'clear percent delete divide'
    'seven eight nine multiplys'
    'four five six minus'
    'one two three plus'
    'empty-one  zero empty-two equals';
} 
.buttons [data-grid-area-value = '1']{
    grid-area: one;
}
.buttons [data-grid-area-value = '3']{
    grid-area: three;
}
.buttons [data-grid-area-value = '4']{
    grid-area: four;
}
.buttons [data-grid-area-value = '5']{
    grid-area: five;
}
.buttons [data-grid-area-value = '6']{
    grid-area: six;
}
.buttons [data-grid-area-value = '7']{
    grid-area: seven;
}
.buttons [data-grid-area-value = '8']{
    grid-area: eight;
}
.buttons [data-grid-area-value = '9']{
    grid-area: nine;
}
.buttons [data-grid-area-value = 'clear']{
    grid-area: clear;
}
.buttons [data-grid-area-value = 'equals']{
    grid-area: equals;
}
.buttons [data-grid-area-value = 'plus']{
    grid-area: plus;
}
.buttons [data-grid-area-value = 'minus']{
    grid-area: minus;
}
.buttons [data-grid-area-value = 'multiplys']{
    grid-area: multiplys;
}
.buttons [data-grid-area-value = 'divide']{
    grid-area: divide;
}
.buttons [data-grid-area-value = '00']{
    grid-area: empty-one;
}
/* 
Added a border radius for a buttons
*/
.buttons>*{
    border-radius: 50%;
} 
/*
Outline for a screen
*/
.screen{
    outline: 1px black solid;
    border-radius: 2rem;
    width: 330px;
    height: 125px;
    display: grid;
    justify-content:end;
}